* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #e6e6e6;
}

/* Layout */

.cabecalho {
    background: #f7b600;
    padding: 15px;
    text-align: center;
}

.area-logo, .area-menu {
    padding: 10px;
}

.area-principal {
    width: 920px;
    margin: 0px auto;
    padding: 15px;
}


.area-postagens {
    width: 660px;
    float: left;
}

.area-lateral {
    width: 240px;
    float: right;
}

.postagens {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
}

.postagens img {
    width: 620px;
}

#rodape {
    clear: both;
    background: #CCC;
    padding: 15px;
    text-align: center;
}

/* Geral */

.white {
    color: white;
}

a {
    text-decoration: none;
}

a {
    font-size: 1.2em;
}

a:visited, a:link {
    color: #f7b600;
}
 
a:hover {
    text-decoration: underline;
}

/* Formatação menu */

.area-menu a {
    font-size: 1.2em;
}

.area-menu a:visited, .area-menu a:link {
    color: white;
    padding: 10px 14px;
    text-decoration: none;
}
 
.area-menu a:hover {
    color: #f7b600;
    background: white;
}

.area-logo h1 {
    font-size: 2.5em;
}

/* Formatação postagens */

.postagens h2 {
    color: #f7b600;
}

.postagens span {
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

/* Formatação area lateral */

.conteudo-lateral {
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}

.conteudo-lateral h3 {
    color: #565656;
    background: #CCC;
    padding: 5px;
}

.postagem-lateral {
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px dotted #CCC;
}


