* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #e6e6e6;
}

/* Layout */

.cabecalho {
    background: #f7b600;
    padding: 15px;
    text-align: center;
}

.area-logo, .area-menu {
    padding: 10px;
}

.area-principal {
    width: 920px;
    margin: 0px auto;
}

.background-white {
    background: orange;
}

.area-postagens {
    width: 660px;
    float: left;
}

.area-lateral {
    width: 240px;
    float: right;
}

.postagens {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
}

.postagens img {
    width: 620px;
}

#rodape {
    clear: both;
    background: #CCC;
    padding: 15px;
    text-align: center;
}

/* Geral */
.white {
    color: white;
}

/* Formatação menu */

.area-menu a {
    font-size: 1.2em;
    text-decoration: none;
}

.area-menu a:visited, .area-menu a:link {
    color: white;
    padding: 10px 14px;
}
 
.area-menu a:hover {
    color: #f7b600;
    background: white;
}

.area-logo h1 {
    font-size: 2.5em;
}
